@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');



$color_background:#eceef5;
$color_header_background:#333;
$color_brand:#07b3d8;
$color_textHeader:#16100f;
$color_text:#666;
$color_subFooter:#272727;
$color_subFooter_text:#444;
$color_lang_active:#e9e8e8;
$color_lang:#989898;
$color_footerText:#989898;
$font_arm_header:'ArTarumianNorMatenagir';
$font_arm_text:'ArTarumianKamar';
$font_roboto: 'Roboto', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.container{
    max-width: 1100px;
    min-width: 290px;
    margin: 0 auto;
    padding: 0 40px;
}


body{
    background: $color_background;
}
header{
    background: $color_header_background;
    .container{
        height: 60px;
        padding: 6px 40px 0 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__logo{
            img{
                height: 40px;
            }

        }
        .header__lang{
            a{
                text-decoration: none;
                span{
                    color: $color_lang;
                    margin: 0 10px;
                    font-size: 14px;
                     &:hover{
                        color:$color_lang_active;
                     }
                    }
                    .hy{
                        color: $color_lang_active;
                        font-family: $font_arm_text;
                    }  
            }

        }
    }
}


section{
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        .main__section_header{
            h1{
                font-family: $font_arm_header;
                font-size: 30px;
                color: $color_textHeader;
            }
        }
        p{
            text-align: center;
            color: $color_text;
            font-family: $font_arm_text;
            font-size: 18px;
            margin: 20px 0;
            line-height: 28px;
            letter-spacing: .5px;
        }
    }
    .main__section_btns{
        border-top: 1px solid $color_lang;
        border-bottom: 1px solid $color_lang;
        width: 100%;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        margin: 30px 0;
        padding: 20px 0;
        
        .main__section_btn{
            margin: 8px;
            a{
                display: inline-block;
                min-width: 320px;
                text-align: center;
                text-decoration: none;
                font-size: 30px;
                background: $color_brand;
                padding: 10px 50px;
                width: 100%;
                border-radius: 5px;
                color: #fff;
                font-family: $font_arm_header;
                box-shadow: 1px 1px 5px$color_header_background;
                &:hover{
                    box-shadow: 3px 3px 5px #666;
                    text-shadow:  3px 3px 5px #666;
                }
            }
        }
    }
}


footer{
    background: $color_header_background;
    .main__footer{
        .container{
            .main__footer_inner{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 20px 0;
                .main__footer_contacts{

                   flex-grow: 3;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    .main__footer_phone_email{
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        margin-bottom: 20px;
                        a{
                            text-decoration: none;
                            font-family:$font_roboto ;
                            font-weight: 200;
                            display: flex;
                            align-content: center;
                            margin: 5px 30px;
                            i{
                                color: $color_brand;
                                font-size: 30px;
                                
                            }
                            span{
                                align-self: center;
                                margin: 0 10px;
                                color:$color_footerText;
                                    &:hover{
                                        color: $color_lang_active;
                                    }
                            }
                        }
                    }
                    .main__footer_socials{
                        a{
                            text-decoration: none;
                            font-size: 30px;
                            margin: 0 10px;
                        }
                        .youtube{
                            color:#FF0000;
                        }
                        .facebook{
                            color: #4267B2;
                        }
                        .whatsapp{
                            color:#25D366;
                        }
                    }
                    .main__footer_banking{
                        margin-top: 20px;
                        color: $color_footerText;
                            div{
                                margin: 8px 0;
                            }
                    }
                   
                }
                .main__footer_address{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-grow: 4;
                    text-decoration: none;
                    .main__footer_address_text{
                        font-family:$font_arm_text;
                        color: $color_footerText;
                        font-weight: 200;
                        margin-bottom: 25px;
                        font-size: 14px;
                        text-align: center;
                        i{
                            color: $color_brand;
                            font-size: 30px;
                            // margin-left: 20px;
                        }
                    }
                     div{
                         margin: 0 auto;
                     }      
                }
            }
        }
    }
    .sub__footer{
        background: $color_subFooter;
        color: $color_subFooter_text;
        display: flex;
        justify-content: center;
        font-size: 14px;
        padding: 3px 0;
    }
}

@media screen and (max-width: 700px ){
    .main__section_btn{
        width: 100%;
        a{
            width: 100%;
        }
    }

}

@media screen and (max-width: 422px ){
    .container{
        margin: 0 auto;
        padding: 0;
    }
    header{
        .container{
            .header__logo{
                img{
                    height: 35px;
                }
            }
            .header__lang{
                a{
                    span{
                        margin: 0 3px;
                        font-size: 12px;
                        }
                }
            }
        }
    }

    footer{
    background: $color_header_background;
    .main__footer{
        .container{
            .main__footer_inner{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 20px 0;
                .main__footer_contacts{

                   flex-grow: 3;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    .main__footer_phone_email{
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        margin-bottom: 20px;
                        a{
                            text-decoration: none;
                            font-family:$font_roboto ;
                            font-weight: 200;
                            display: flex;
                            align-content: center;
                            margin: 5px 30px;
                            i{
                                color: $color_brand;
                                font-size: 30px;
                                
                            }
                            span{
                                align-self: center;
                                margin: 0 10px;
                                color:$color_footerText;
                                    &:hover{
                                        color: $color_lang_active;
                                    }
                            }
                        }
                    }
                    .main__footer_socials{
                        a{
                            text-decoration: none;
                            font-size: 30px;
                            margin: 0 10px;
                        }
                        .youtube{
                            color:#FF0000;
                        }
                        .facebook{
                            color: #4267B2;
                        }
                        .whatsapp{
                            color:#25D366;
                        }
                    }
                    .main__footer_banking{
                        margin-top: 20px;
                        color: $color_footerText;
                            div{
                                margin: 8px 0;
                            }
                    }
                   
                }
                .main__footer_address{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-grow: 4;
                    text-decoration: none;
                    .main__footer_address_text{
                        font-family:$font_arm_text;
                        color: $color_footerText;
                        font-weight: 200;
                        margin-bottom: 25px;
                        font-size: 13px;
                        text-align: center;
                        i{
                            color: $color_brand;
                            font-size: 30px;
                            // margin-left: 20px;
                        }
                    }
                     div{
                         margin: 0 auto;
                     }      
                }
            }
        }
    }
    .sub__footer{
        background: $color_subFooter;
        color: $color_subFooter_text;
        display: flex;
        justify-content: center;
    }
}


    section{
        .container{
            margin: 20px 0;
            .main__section_header{
                h1{
                    font-size: 25px;
                }
            }
            p{
                padding: 0 20px;
                font-size: 15px;
                margin: 10px 0;
                line-height: 23px;
                letter-spacing: .3px;
            }
        }
        .main__section_btns{
            width: 100%;
            display: flex;
            margin: 20px;
            padding: 10px 0;
            
            .main__section_btn{
                margin: 8px;
                a{
                    font-size: 25px;
                    padding: 8px 25px;
                }
            }
        }
    }


    footer{
        .main__footer{
            .container{
                .main__footer_inner{
                    padding: 15px 0;
                    .main__footer_contacts{
                        .main__footer_phone_email{
                            margin-bottom: 20px;
                            margin:0  20px 10px 20px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid $color_subFooter_text;
                            font-size: 14px;
                            a{
                                i{
                                    font-size: 25px;
                                }
                            }
                        }
                        .main__footer_socials{

                            a{
                                font-size: 30px;
                                margin: 0 8px;
                            }
                        }
                        .main__footer_banking{
                            border-top: 1px solid $color_subFooter_text;
                            margin-top: 10px;
                            padding: 15px 0;
                                div{
                                    font-size: 14px;
                                    margin: 8px 0;
                                }
                        }
                       
                    }
                    .main__footer_address{
                       
                        .main__footer_address_text{
                            border-top: 1px solid $color_subFooter_text;
                            margin-bottom: 25px;
                            padding-top: 15px;
                            i{
                                color: $color_brand;
                                font-size: 25px;
                            }
                        }     
                    }
                }
            }
        }
        .sub__footer{
            background: $color_subFooter;
            color: $color_subFooter_text;
            display: flex;
            justify-content: center;

        }
    }
}

